.about__page-section {
  background-color: #001f3f; 
  color: #ffffff; 
  padding: 60px 0;
}

.section__title {
  color: #007bff; 
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.section__description {
  color: #d1e7ff; 
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 15px;
}


.section__subtitle {
  color: #80d0ff; 
  font-size: 1.2rem;
  font-weight: bold;
}

h4 {
  color: #007bff; 
}


.ri-phone-line {
  color: #007bff; 
  font-size: 1.8rem;
}


h6.section__subtitle {
  color: #80d0ff; 
}

h2.section__title {
  color: #007bff; 
}
