
.about-container {
    padding: 40px;
    max-width: 800px;
    margin: auto;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .about-title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #1d079b;
  }
  
  .about-image {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 10px;
  }
  
  .about-text {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 15px;
    color: #11c4e4;
  }
  
  ul {
    list-style-type: disc;
    padding-left: 20px;
    margin-bottom: 20px;
  }
  
  .back-button {
    display: block;
    margin: 30px auto;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #21bd26;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .back-button:hover {
    background-color: #f10909;
  }
  