/* available-cars.css */
.available-cars-section {
    padding: 60px 0;
    text-align: center;
  }
  
  .available-cars-section h2 {
    font-size: 2.5em;
    margin-bottom: 40px;
  }
  
  .car-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .view-all-btn {
    display: inline-block;
    margin-top: 30px;
    padding: 10px 20px;
    background-color: #f10909;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .view-all-btn:hover {
    background-color: #c10808;
  }
  