.cars{
  display: flex;
  flex-direction: row;
  justify-content: center;

}
.car-card {
  background-color:silver;
  border-radius: 10px;
  margin-bottom: 10px;
  width: 50vh;
}

.car-card:hover {
  transform: scale(1.05);
}

.car-card-img-container {
 
  height:200px ;
  width: 60vw;
}

.car-card-img {
  width: 35%;
  height: 200px;
  object-fit: cover;
}

.car-card-tags {
  position: absolute;
  top: 10px;
  left: 10px;
  display: grid;
  gap: 5px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 2px 5px;
  border-radius: 15px;
}

.car-card-content {
  padding: 10px;
}

.car-card-title {
  margin: 0;
  font-size: 1.5em;
}

.car-card-price {
  margin-top: 10px;
  font-size: 1.2em;
  color: #1f9b4c;
}

.car-card-price span {
  font-size: 0.9em;
  color: #888;
}

.car-card-location {
  margin-top: 10px;
  font-size: 0.9em;
  color: #888;
}

.car-card-actions {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.btn {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.book-now {
  background-color: #007bff;
  color: white;
}

.book-now:hover {
  background-color: #0056b3;
}

.details {
  background-color: #28a745;
  color: white;
}

.details:hover {
  background-color: #218838;
}
