.navbar {
  background-color: silver;
  padding: 20px 0;
  width: 100%; 
    /* position: fixed;  
   top: -30px; 
  z-index: 1000;
 
  transition: top 0.3s;   */
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}

.logo {
  font-size: 2em;
}

.logo span {
  color: green;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links li a {
  color: #1085ff;
  text-decoration: none;
  font-size: 1.3em;
  font-weight: bold;
  margin-right: 90px;
}

.nav-links li a:hover {
  color: green;
}

h1{
  color: black;
}

h1 em {
  color: #1085ff;
}
